body{
  margin: 0;
}

.toHover1 {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid black;
  border-radius: 8px;
}

.toHover2 {
  width: fit-content;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid black;
  border-radius: 8px;
}

.toHover3 {
  width: fit-content;
  margin-left: 60%;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}
