

.ModalHoverMainDiv {
    visibility: hidden;
    margin: 0;
}

.ModalHoverChild {
    visibility: hidden;
}

.ModalHoverChild>* {
    visibility: visible;
}

.ModalHoverBack {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.OpenBack {
    animation: AniOpaOpen 1s ease;
}

.CloseBack {
    animation: AniOpaClose .3s ease forwards;
}

@keyframes AniOpaOpen {
    0% {
        filter: opacity(0)
    }
    100% {
        filter: opacity(1)
    }
}

@keyframes AniOpaClose {
    0% {
        filter: opacity(0.5)
    }
    100% {
        filter: opacity(0)
    }
}

.ModalHoverCont {
    display: none;
    position:absolute;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 black;
    color:white;
    word-wrap: break-word;
}